.list-item-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    width: 20vw;
    justify-content:space-between;
}
.picked-up {
    text-decoration: line-through;
}
.not-picked-up{
    text-decoration:none;
}
img{
    width: 1rem;
    height: 1rem;
}